@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

#__next,
#root {
  height: 100%;
  width: 100%;
}

.custom-segmented.danger .ant-segmented-item-selected {
  background-color: #dc4446 !important; /* vermelho */
  color: white !important;
  font-weight: bold;
  box-shadow: 0 0 8px rgba(255, 77, 79, 0.6);
  transition: all 0.2s ease;
}

.custom-segmented:not(.danger) .ant-segmented-item-selected {
  background-color: #1677ff !important; /* azul padrão */
  color: white !important;
  font-weight: bold;
  box-shadow: 0 0 8px rgba(24, 144, 255, 0.6);
  transition: all 0.2s ease;
}
